@{
  Layout = "_Layout";
}

<h1>Welcome to the your Shoppe inventory!</h1>
<p>@Html.ActionLink("See all items", "Index", "Items")</p> 
<p>@Html.ActionLink("See all catagories", "Index", "Categories")</p>
