@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your shoppe inventory</h1>
    <p>@Html.ActionLink("See all items", "Index", "Items")</p> 
    <p>@Html.ActionLink("Add items", "Create", "Items")</p> 
</div>
