@* @{
  Layout = "_Layout";
}

@using YeOldeInvMany.Models;

<h2>Categories</h2>

@if (@Model.Count == 0)
{
  <h3>No categories have been added yet!</h3>
} 

<ul>
  @foreach(Category category in Model)
  {
    <li>@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new category", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<img src="~/img/Shop2.jpeg"> *@