@{
  Layout = "_Layout";
}

@model YeOldeInv.Models.Item

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add new Item" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>
